.drag-handle {
    content: '≡';
    display: inline-block;
    position: relative;
    z-index: 1;
    color: var(--text-color);
    margin-right: 1px;
    font: var(--font-interface-theme);
}

.handle-highlight {
    opacity: .2;
    border-radius: 20px;
}

.drag-clone {
    opacity: .2;
    border-radius: 20px;
    font: var(--font-interface-theme);
}