:root {
    --notionize-handle-transition-time: .3s;
    --notionize-banding-transition-time: .1s;
}

.notionize-zebra-stripes .cm-line:nth-child(even) {
    background-color: var(--color-base-10);
}

.notionize-zebra-stripes .cm-gutterElement:nth-child(odd) {
    background-color: var(--color-base-10);
}

.cm-line:hover {
    transition: background-color var(--notionize-banding-transition-time);
    background-color: color-mix(in srgb, var(--color-accent) 20%, transparent);
    border-radius: 4px;
}

.cm-highlight-todo {
    background-color: var(--interactive-accent);
    opacity: 0.2;
}

.drop-zone-padding { /* Styles for the drop zone container, mostly taken from the Outliner Plugin */
    position: absolute;
    height: 4px;
}

.drop-zone { /* Styles for the drop zone, mostly taken from the Outliner Plugin */
    width: 100%; /* May need to change to acutual value for spacing (300px) */
    height: 4px;
    background: var(--color-accent);
    z-index: 1; /* May need to make higher */
    position: absolute;
    pointer-events: none;
}

.drag-handle-indicator { /* Styles for the handle span container, mostly taken from Obsidian */
    transition: var(--notionize-handle-transition-time);
    display: inline-block;
    position: relative;
    /* right: 16px; This works, but needs better implementation*/
    z-index: 1; 
    opacity: 1; 
    width: 16px;
    height: 18px; 
    background-color: transparent;
    border-radius: 0px;
    padding: 1px;
    margin-right: 5px;
    cursor: var(--cursor);
}

.drag-handle-indicator:hover { /* When the handle is hovered, look ready to peel */
    transition: var(--notionize-handle-transition-time);
    background-color: var(--interactive-hover);
    border-radius: 4px;
}

.drag-handle-indicator:hover .drag-handle-icon { /* When hovering over the icon itself, change the color */
    color: var(--interactive-accent);
    text-shadow: 1px 1px 1px #000000;
    transform: translateY(-28%);
}

.drag-handle-icon { /* Styles for the indicator itself, mostly taken from Obsidian */
    transition: var(--notionize-handle-transition-time);
    display: flex;
    align-items: center;
    position: absolute;
    color: var(--collapse-icon-color);
    opacity: 0;
    transform: translateY(-25%);
    text-shadow: 0px 0px 0px #000000;
}

.cm-line:hover .drag-handle-icon { /* When the line is hovered, make the icon appear */
    transition: var(--notionize-handle-transition-time);
    opacity: 1;
}