.drag-handle { /* Styles for the handle span container, mostly taken from Obsidian */
    display: inline-block;
    position: relative;
    z-index: 1; 
    color: var(--text-color);
    font: var(--font-interface-theme);
    cursor: var(--cursor);
    opacity: .5; 
    /* inset-inline-end: calc(var(--list-bullet-end-padding) * -1); */

}

.drag-handle:hover { /* Changes applied on handle hover */
    opacity: 1;
    transition: opacity .5s;
} 

.drag-handle-indicator { /* Styles for the indicator itself, mostly taken from Obsidian */
    content: '⠿';
    position: relative;
    top: 0;
    height: 100%;
    /* opacity: .5; May be needed if the opacity does not carry over*/
}

.handle-highlight { /* Styles for denoting the area the handle is responsible for */
    opacity: .2;
    border-radius: 20px;
}

.drag-clone { /* Styles for the preview of the dragged elements */
    opacity: .2;
    border-radius: 20px;
    font: var(--font-interface-theme);
}